<div class="comment-item">
  <div class="comment-item-head flex-container flex-container--wrap">
    <div class="comment-item-photo flex-item flex-item--no-flex">'+post_img+'</div>
    <div class="comment-item-body flex-item">
      <h3 class="heading-3 heading-3--comment-author">'+post_name+'</h3>
      <span class="subtitle subtitle--comment-date">'+post_date+'</span>
    </div>
  </div>
  <div class="comment-content">'+post_message+'</div>
</div>
