@font-face {
  font-family: "Tiempos";
  font-weight: normal;
  src: url(fonts/TiemposWeb/Testing-subsetting.woff);
}

@font-face {
  font-family: "Nobel Book";
  src: url(fonts/nobel-book.woff);
}

@font-face {
  font-family: "Tiempos";
  font-weight: normal;
  font-style: italic;
  src: url(fonts/TiemposWebLF-RegularItalic.woff);
}

@font-face {
  font-family: "Tiempos";
  font-weight: bold;
  src: url(fonts/TiemposHeadlineWeb-Medium.woff);
}

@font-face {
  font-family: "Tiempos Headline";
  font-weight: normal;
  src: url(fonts/TiemposWebLF-Semibold.woff);
}
